<div class="footer-tail">
    this is tail
</div>




<div class='footer'>
    <div class='img'>
        <img src='/img/avatar.jpeg' />
    </div>
    <ul class='links'>
        <li>
            <img src='' class='git'>
            <a href='' target='_blank'>作者的GitHub</a>
        </li>
        <li>
            <img src='' class='zhihu'>
            <a href='' target='_blank'>作者的GitHub</a>
        </li>
    </ul>
</div>

<!--<script src="./js/index.js"></script>-->
<script src="/dist/common.js"></script>
<script src="/dist/index.js"></script>
</body>

</html>