<div class='footer'>

    <img class='avatar' src='/img/avatar.jpeg' />
    <div class='personal'>
        <span class="motto">
			nothing's difficult to a willing heart		
		</span>
    </div>

    <ul class='nav'>
        <li class='links'>
            <a href='https://github.com/starlikerain?tab=repositories' target='_blank'>
                <img src='https://avatars2.githubusercontent.com/u/20137345?v=3&s=460' class='git' /> GitHub
            </a>
        </li>
        <li class='links'>
            <a href='#' target='_blank' />
            <img src='https://avatars2.githubusercontent.com/u/20137345?v=3&s=460' class='zhihu'>知乎
            </a>
        </li>
    </ul>
</div>
</body>